
{{#link-to "cargos.new" class='btn btn-primary'}}Create New{{/link-to}}

<div class="row">
  <div class="col-md-10">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Items</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{!-- There is exist solution to create computed Array
              with index started from 1, not 0 --}}
        {{#each model as |cargo index|}}
          <tr>
            <td>{{index}}</td>
            <td>{{cargo.name}}</td>
            <td>{{cargo.items.length}}</td>
            <td>{{cargo.weight}}</td>
            <td>
              <a href='#' {{action 'removeCargo' cargo}}>
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <hr>
    <h3>All cargos weight: {{totalWeight}}</h3>
  </div>
</div>
